.basket {
  $basket: &;

  &__stop {
    transition: $transition;
    stop-color: $c-white
  }

  &__path {
    fill: url(#basketGradient);
  }

  &:hover {
    #{$basket}__stop-one {
      stop-color: $c-yellow;
    }

    #{$basket}__stop-two, #{$basket}__stop-three {
      stop-color: $c-pink;
    }
  }
}
