.info-text {
  &__container {
    display: grid;
    gap: 21px;

    @include _680M  {
      gap: 17px;
    }
  }

  &__text {
    opacity: .6;

    @include _992M {
      max-height: max-content;
      -webkit-line-clamp: inherit;
    }
  }
  &__button {
    @include _992M {
      display: none;
    }
  }

}
