.logo {
  $logo: &;

  width: 73px;
  height: auto;

  @include  _992M {
    width: 104px;
  }

  &__stop {
    transition: stop-color $transition;
    stop-color: $c-pink
  }

  &__fill {
    fill: url(#logoGradient);
  }

  &__stroke {
    stroke: url(#logoGradient);
  }

  &:hover {
    #{$logo}__stop-one {
      stop-color: $c-yellow;
    }

    #{$logo}__stop-two,  #{$logo}__stop-three {
      stop-color: $c-pink;
    }
  }
}
