.header {
  position: fixed;
  z-index: 2;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  background: #000;

  @include _680M {
    height: 80px;
  }

  @include _680 {
    height: 48px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__logo {
    @include _680M {
      padding-top: 7px;

    }
    @include _992M {
      padding-top: 12px;
    }
  }
}
