.navigation {
  @include _680M {
    padding-right: 25px;
  }
  @include _992M {
    padding-right: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;

    @include _680M {
      gap: 42px;
    }
    @include _992M {
      gap: 40px;
      padding-top: 10px;
    }

    @include _680 {
      position: fixed;
      top: 80px;
      right: 0;
      z-index: 5;
      flex-direction: column;
      gap: 20px;

      width: 0;
      height: 100vh;

      opacity: 0;
      transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &__item {
    display: flex;

    @include _680 {
      justify-content: center;
      width: 100%;
    }
  }

  &__text {
    color: $c-white;
    padding: 10px;

    @include _992M {
      padding: 10px;
    }
    @include _680 {
      text-align: center;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__button {
    @include _680M {
      display: none;
    }
    @include _680 {
      position: relative;
      z-index: 6;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $c-black;
      height: 30px;
      width: 30px;
      border-radius: 50%;

      box-shadow: 0 1rem 3rem rgba($c-black, .1);
      text-align: center;
      cursor: pointer;
    }
  }

  &__background {
    @include _680M {
      display: none;
    }
    @include _680 {
      position: absolute;
      top: 15px;
      right: 25px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-image: radial-gradient($c-black, $c-blue);
      z-index: 4;
      transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  &__icon {
    @include _680M {
      display: none;
    }
    @include _680 {
      position: relative;

      &,
      &::before,
      &::after {
        display: inline-block;
        background-color: $c-white;
        width: 25px;
        height: 1px;
        border-radius: 2px;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
      }

      &::before {
        top: -7px;
      }
      &::after {
        top: 7px;
      }
    }
  }

  &__checkbox {
    display: none;
  }

  // Functionnality
  &__checkbox:checked ~ &__background {
    @include _680 {
      transform: scale(150);
    }
  }

  &__checkbox:checked ~ &__list {
    @include _680 {
      opacity: 1;
      width: 100%;
    }
  }

  &__checkbox:checked + &__button &__icon {
    @include _680 {
      background-color: transparent;
    }
  }

  &__checkbox:checked + &__button &__icon::before {
    @include _680 {
      top: 0;
      transform: rotate(135deg);
    }
  }

  &__checkbox:checked + &__button &__icon::after {
    @include _680 {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
