$c-black: #000000;
$c-dark-blue: #0D1E48;
$c-blue: #304571;
$c-yellow: #EBFF00;
$c-yellow-hover: #EBFF0099;
$c-pink: #FF70D9;
$c-white: #FFFFFF;

.c-white {
  color: $c-white;
}
.c-yellow {
  color: $c-yellow;
}
.c-pink {
  color: $c-pink;
}
