.h-one {
  background-clip: text;
  background-image: linear-gradient(98.25deg, $c-yellow 18.56%, $c-pink 76.02%);
  color: transparent;
  transition: $transition;

  &:hover {
    color: transparent !important;
  }
}
